/*
** Defaults
*/

body {
	font-family: "Open Sans";
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Lato";
}

/*
** Layout
*/

.container {
	padding: 40px 20px;
}

.container-spacy {
	padding: 80px 20px;
}

/*.hero?*/
.background-orange {
	background-color: #f8bc3b;
}

header#main {
	
}